*,
*::before,
*::after { 
  box-sizing: border-box; 
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #283136;
  font-family: "Roboto", "Arial", sans-serif;
}
.title-main {
  color: #000;
  font-size: 55px;
  line-height: 1;
  font-weight: 700;
}
.title-secondary {
  color: #000;
  font-size: 24px;
  line-height: 1.25;
}
.title-third-type {
  color: #000;
  font-size: 18px;
  line-height: 1.66;
  font-weight: bold;
  text-transform: uppercase;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.wrap {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  outline: 1px solid red;
}
.btn {
  display: block;
  padding: 16px 44px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 1.125;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #fb565a;
}
.btn:hover {
  background-color: #e74246;
}
.btn:active {
  background-color: #d7373b;
}
.main-header {
  padding: 0;
  margin: 0;
  background-color: #eee;
  outline: 1px solid red;
}
.main-nav {
  float: left;
  width: 1045px;
  padding: 0;
  margin-bottom: 0;
}
.logo {
  float: left;
  width: 160px;
  height: 66px;
  padding: 0;
  margin-top: 49px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 40px;
}
.logo img {
  width: 160px;
  height: 66px;
}
.logo img:hover {
  opacity: 0.8;
}
.logo img:active {
  opacity: 0.3;
}
.main-menu {
  float: left;
  width: 845px;
  margin: 0;
  margin-top: 53px;
  padding: 0;
  padding-left: 138px; 
  list-style: none;
  font-size: 0;
}
.main-menu-item {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: top;
  font-size: 16px;
}
.main-menu-item a {
  display: block;
  padding-top: 27px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  font-size: 16px;
  line-height: 1.875;
  font-weight: medium;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.main-menu a:active {
  opacity: 0.3;
}
.main-menu-item a:hover {
  color: #fb565a;
}
.user-block {
  position: relative;
  float: right;
  width: 115px;
  margin: 0;
  margin-top: 53px;
  padding: 0;
  padding-left: 20px;
}
.user-block a {
  display: block;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 20px;
  color: #000;
  font-weight: medium;
  text-decoration: none;
  text-transform: uppercase;
}
.user-block a:hover {
  color: #fb565a;
}
.user-block a:active {
  opacity: 0.3;
}
.user-block::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  bottom: 25px;
  background: transparent url("../img/icons/cart-icon.png") no-repeat 50% 50%;
}
.catalog-title {
  margin: 0;
  padding-top: 80px;
  padding-bottom: 104px;
  text-align: center;
}
.slider {
  position: relative;
  width: 100%;
  height: 430px;
  margin: 0 auto;
  background-color: #eee; 
  outline: 1px solid red;
}
.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 18px;
  margin-left: -100px;
  text-align: center;
  outline: 1px solid red;
}
.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}
.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 17px;
  border: 9px solid #fff;
  border-radius: 50%;
  vertical-align: top;
  cursor: pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #c1c1c1;
}
.slides {
  position: relative;
  width: 1160px;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide-text {
  width: 516px;
}

.slide .btn {
  margin-top: 42px;
  width: 240px;
  background-color: #fb565a;
}
.slide-expensive {
  background: url("../img/content/slide1.png") no-repeat 100% 10px;
}
.slide-math {
  display: none;
  background: url("../img/content/slide2.png") no-repeat 100% 0; 
}
.slide-night {
  display: none;
  background: url("../img/content/slide3.png") no-repeat 100% 0;
}
.slide {
  display:;
}
#btn-1:checked ~ .slide-expensive {
  display: block;
}
#btn-2:checked ~ .slide-math {
  display: block;
}
#btn-3:checked ~ .slide-night {
  display: block;
}

.advantages {
  padding: 0;
  padding-bottom: 80px;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 40px;
  list-style: none;
  border-bottom: 2px solid #eee;
}
.advantage {
  position: relative;
  padding-top: 155px;
  float: left;
  width: 300px;
  height: 348px;
  margin-right: 100px;
}
.advantage-web::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 146px;
  background: #fb565a url("../img/content/illustration-1.jpg") no-repeat 50% 50%;
}
.advantage-apps::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 146px;
  background: #00ca74 url("../img/content/illustration-2.jpg") no-repeat 50% 50%;
}
.advantage-presentation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 146px;
  background: #efc849 url("../img/content/illustration-3.jpg") no-repeat 50% 50%;
}
.advantage:last-child {
  margin-right: 0;
}
.advantage-title {
  font-size: 24px;
  line-height: 1.25;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}
.advantage-apps .btn {
  background-color: #00ca74;
}
.advantage-apps .btn:hover {
  background-color: #00bc6c;
}
.advantage-apps .btn:active {
  background-color: #00aa62;
}
.advantage-presentation .btn {
  background-color: #efc84a;
}
.advantage-presentation .btn:hover {
  background-color: #eab534;
}
.advantage-presentation .btn:active {
  background-color: #e5a722;
}
.promo-text {
  float: left;
  width: 800px;
  margin-right: 0;
  padding-top: 35px;
}
.promo-text-title {
  margin: 0;
  font-size: 45px;
  line-height: 1;
  font-weight: medium;
  color: #000;
}
.promo-text-title-secondary {
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: bold;
}
.features {
  padding: 0;
  margin: 0;
  list-style: none;
}
.features li {
  position: relative;
  margin-bottom: 30px;
  padding-left: 36px;
  font-size: 16px;
  line-height: 1.5;
  color: #283136;
}
.features li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 12px;
  border-bottom: 2px solid red;
}
.promo-block-main {
  position: relative;
  float: right;
  padding-top: 208px; 
  width: 360px;
  outline: 1px solid red;
}
.promo-block-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 208px;
  background: url("../img/content/nerds-illustration.jpg") no-repeat 50% 50%;
}
.title-percents {
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
}
.percents {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
.percents-item {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin-bottom: 0;
  margin-right: 23px;
  width: 100px;
  height: 100px;
  font-size: 16px;
  outline: 1px solid red;
}
.percents-item:last-child {
  width: 110px;
  margin-right: 0;
}
.number {
  margin: 0;
  color: #000;
  font-size: 45px;
  line-height: 10.06px;
  font-weight: bold;
}
.number sup {
  font-size: 26px;
  font-weight: medium;
}
.promo {
  margin-bottom: 45px;
}
.logos {
  padding: 47px 0;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}
.company-logo {
  display: inline-block;
  margin-right: 100px;
  vertical-align: middle;
  opacity: 0.2;
}
.company-logo:first-child {
  margin-left: 30px;
}
.company-logo:last-child {
  margin-right: 0;
}
.company-logo:hover {
  opacity: 1;
}
.company-logo:active {
  opacity: 0.1;
}

.choice-form {
  float: left;
  width: 260px;
  margin-top: 45px;
  margin-right: 100px;
  padding-top: 15px;
  outline: 1px solid red;
}
.range-filter {
  width: 260px;
}
.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-right: 20px;
  padding-left: 20px; 
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #eee;
}
.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%; 
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
  left: 20px;
}
.range-controls .toggle-max {
  left: 145px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
}
.max-price {
  text-align: right;
}
.price-controls input {
  margin-left: 10px;
  width: 60px;
  padding: 8px 10px;
  border: none;
  border-radius: 5px; 
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  background-color: #eee;
}

}
.grid label,
.hangs label {
  
  font-size: 16px;
  line-height: 1.25;
  font-weight: normal;
  color: #283136;
}
.grid input,
.hangs input {
  display: block;
  float: left;
}
input.show {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}
input.show {
  margin-top: 48px;
  padding: 16px 88px;
  font-size: 16px;
  line-height: 1.125;
  font-weight: medium;
  color: #000;
  background-color: #eee; 
}
input.show:hover {
  background-color: #dfdfdf;
}
input.show:active {
  background-color: #dfdfdf;
  box-shadow: inset 0 2px 0 0;
}
.gallery {
  float: right;
  width: 760px;
  margin-top: 45px;
  padding-top: 15px;
  outline: 1px solid red;
}
.sorter {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}
.sorter .title-third-tipe {
  padding-top: 15px;
}
.sorter-list {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sorter-item {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: top;
}
.sorter-item button {
  display: block;
  margin:0;
  padding: 15px;
  background: none;
  border: none;
  font-size: 14px;
  line-height: 1.28;
  font-weight: normal;
  color: #000;
  text-transform: uppercase;
  opacity: 0.3;
}
.sorter-item button:hover {
  opacity: 0.6;
}
.sorter-item button:active {
  opacity: 1;
}
.sorter-item .active {
  opacity: 1;
}
.items {
  margin-bottom: 60px;
  font-size: 0;
  outline: 1px solid red;
}
.gallery-item {
  position: relative;
  display: inline-block;
  padding-top: 40px;
  width: 360px;
  height: 616px;
  margin-right: 40px;
  margin-left: 0;
}
.gallery-item:nth-child(2n) {
  float: right;
  margin-right: 0;
}
.gallery-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 40px;
  background: #e9e9e9 url("../img/icons/browser.png") no-repeat 50% 50%;
  opacity: 0.12;
}
.gallery-item:hover::before {
  opacity: 1;
}
.gallery-item img {
  border: 1px solid #000101 0.1;
}
.description {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 60px;
  padding-bottom: 43px;
  width: 360px;
  text-align: center;
  background-color: #eee;
}
.description-title {
  margin: 0;
}
.description p {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.125;
  color: #666;
}
.description .btn {
  padding: 16px 60px;
}
.gallery-item:hover .description {
  display: block;
}
.paginator {
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  list-style: none;
  outline: 1px solid red;
}
.paginator-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.paginator-item a {
  display: block;
  padding: 16px;
  width: 50px;
  height: 50px;
  font-size: 16px;
  line-height: 1.125;
  font-weight: medium;
  color: #000;
  text-decoration: none;
  background-color: #eee;
  text-align: center;
  vertical-align: middle;
}
.paginator-item a:hover {
  background-color: #dfdfdf;
}
.paginator-item a:active {
  background-color: #d5d5d5;
}
.paginator-item .active {
  background-color: #fff;
  border: 3px solid #dbdbdb;
}
.gallery .next {
  padding: 16px 77px;
}
.show {
  color: #000;
  font-weight: medium;
  background-color: #eee; 
}
.show:hover {
  background-color: #dfdfdf; 
}
.show:active {
  background: rgba(213, 213, 213, 0.3);
}
.main-footer {
  margin-top: 82px;
  background-color: #fff;
}
img {
  max-width: 100%
  height: auto;
}
.wrap {
  position: relative;
}
.map {
  min-height: 415px;
  background-color: #e9e5dc;
  overflow: hidden;
  margin-bottom: 70px;
}
.map img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: none;
}
.mail-us {
  position: absolute;
  bottom: 54px;
  left: 20px;
  padding: 50px;
  padding-bottom: 47px;
  width: 320px;
  background-color: #fff;
  outline: 1px solid red;
}
.mail-us-title {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 1.66;
  font-weight: bold;
  text-transform: uppercase;
}
.mail-us address {
  font-size: 16px;
  line-height: 1.125;
  color: #666;
  font-style: normal;
}
.mail-us p {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 1.125;
  color: #666;
}
.footer-bottom {
  margin-top: 70px;
}
.social-footer {
  float: left;
  width: 300px;
  margin-right: 100px;
  outline: 1px solid red;
}
.social-btn {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-right: 12px;
  vertical-align: top;
  font-size: 0;
}
.vk {
  background: #fff url("../img/icons/vk.png") no-repeat 50% 50%;
}
.vk:hover {
  background: #fff url("../img/icons/vk-hover.png") no-repeat 50% 50%;
}
.vk:active {
  background: #fff url("../img/icons/vk-active.png") no-repeat 50% 50%;
}
.fb {
  background: #fff url("../img/icons/fb.png") no-repeat 50% 50%;
}
.fb:hover {
  background: #fff url("../img/icons/fb-hover.png") no-repeat 50% 50%;
}
.fb:active {
  background: #fff url("../img/icons/fb-active.png") no-repeat 50% 50%;
}
.inst {
  background: #fff url("../img/icons/inst.png") no-repeat 50% 50%;
}
.inst:hover {
  background: #fff url("../img/icons/inst-hover.png") no-repeat 50% 50%;
}
.inst:active {
  background: #fff url("../img/icons/inst-active.png") no-repeat 50% 50%;
}    
.friendship {
  float: left;
  width: 760px;
  outline: 1px solid red;
}
.friendship b {
  font-size: 36px;
  line-height: 1;
  color: #000;
  font-weight: bold;
}
.friendship p {
  margin-top: 10px;
  padding: 0;
  font-size: 16px;
  line-height: 1.37;
  color: #444;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.modal-content {
  position: absolute;
  top: 120px;
  left: 50%;
  margin-left: -480px;
  width: 960px;
  padding: 67px 100px 84px 100px;
  color: #000;
  background-color: #fff;
  box-shadow: 0 30px 50px rgba(0,0,0,0.7);
  outline: 1px solid red; 
}
 .modal-content-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 25px;
  height: 25px;
  font-size: 0;
  background-color: #fff;
  border: 0; 
  cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 2px;
  width: 22px;
  height: 4px;
  background-color: #fecccd;
  border-radius: 1px; 
}
.modal-content-close::before {
  transform: rotate(45deg);
}
.modal-content-close::after {
  transform: rotate(-45deg);
}
.write {
  border: none;
  padding: 0;
  margin: 0;
}
.write-us-title {
  margin: 0;
  margin-bottom: 38px;
  font-size: 45px;
  line-height: 1;
  font-weight: 700;
  color: #000;
}
.write input {
  margin-right: 40px;
  width: 326px;
  margin: 0;
  margin-bottom: 35px;
  padding: 15px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  vertical-align: top;
}
.write input:hover {
  border-color: #b4b9bb;
}
.write input:focus {
  border-color: #000;
  color: #444;
}
.write input:focus:invalid {
  border-color: #e74246;
  color: #e74246;
}
.write label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.125;
  font-weight: bold;
}
.write textarea {
  width: 100%;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}
.write textarea:hover {
  border-color: #b4b9bb;
}
.write textarea:focus {
  border-color: #000;
  color: #444;
}
.write .btn {
  border: none;
  display: block;
  padding: 16px 80px;
  margin-top: 47px;
}

