*,
*::before,
*::after { 
  box-sizing: border-box; 
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  font-family: "Roboto", "Arial", sans-serif;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.wrap {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  outline: 1px solid red;
}
.main-header {
  margin-bottom: 18px;
}
.logo {
  float: left;
  width: 160px;
  margin-top: 49px;
  margin-right: 200px;
}
.main-menu {
  float: left;
  width: 640px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-menu-item {
  display: inline-block;
  margin-top: 77px;
  margin-right: 48px;
}
.user-block {
  width: 115px;
  float: right;
  margin-top: 77px;
}
.slider {
  margin-bottom: 80px;
}
.slider-switch {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid red;
}
.slider-switch-item {
  display: inline-block;
  width: 0;
  border: 10px solid black;
  border-radius: 15px;
}
.advantages {
  padding: 0;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 85px;
  list-style: none;
}
.advantage {
  float: left;
  width: 300px;
  margin-right: 100px;
}
.advantage:last-child {
  margin-right: 0;
}
.promo-text {
  float: left;
  width: 660px;
  margin-right: 140px;
}
.promo-block-main {
  float: right;
  width: 360px;
}
.promo {
  margin-bottom: 85px;
}
.logos {
  margin-left: 30px;
  margin-bottom: 82px;
}
.company-logo {
  display: inline-block;
  margin-right: 100px;
  vertical-align: middle;
}
.company-logo:last-child {
  margin-right: 0;
}
aside {
  float: left;
  width: 260px;
  margin-top: 59px;
  margin-right: 140px;
  outline: 1px solid red;
}
.gallery {
  float: right;
  width: 760px;
  margin-top: 59px;
  outline: 1px solid red;
}
.sorter :{
  margin-bottom: 60px;
}
.sorter-list {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sorter-item {
  display: inline-block;
}
.items {
  margin-bottom: 60px;
  outline: 1px solid red;
}
.gallery-item {
  display: inline-block;
  width: 360px;
  margin-right: 40px;
  margin-left: 0;
}
.gallery-item:nth-child(2n) {
  float: right;
  margin-right: 0;
}
.paginator {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}
.paginator-item {
  display: inline-block;
  margin-right: 10px;
}
.map {
  margin-bottom: 68px;
}
.social-footer {
  float: left;
  width: 260px;
  margin-right: 140px;
}
.friendship {
  float: left;
  width: 560px;
}
.title-main {
  font-size: 55px;
  line-height: 1;
}
.title-secondary {
  font-size: 24px;
  line-height: 1.25;
}
