*,
*::before,
*::after { 
  box-sizing: border-box; 
}
body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #283136;
  font-family: "Roboto", "Arial", sans-serif;
}
.title-main {
  color: #000;
  font-size: 55px;
  line-height: 1;
  font-weight: 500;
}
.title-secondary {
  color: #000;
  font-size: 24px;
  line-height: 1.25;
}
.title-third-type {
  color: #000;
  font-size: 18px;
  line-height: 1.66;
  font-weight: 700;
  text-transform: uppercase;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.wrap {
  position: relative;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}
.btn {
  display: inline-block;
  padding: 16px 44px;
  border-radius: 3px;
  font-size: 16px;
  line-height: 1.125;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #fb565a;
}
.btn:hover {
  background-color: #e74246;
}
.btn:active {
  color: rgba(255,255,255,0.3);
  background-color: #d7373b;
}
.main-header {
  padding: 0;
  margin: 0;
  background-color: #eee;
}
.main-nav {
  float: left;
  width: 1045px;
  padding: 0;
  margin-bottom: 0;
}
.logo {
  float: left;
  width: 160px;
  height: 65px;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  margin-right: 40px;
}
.logo img {
  width: 160px;
  height: 65px;
}
.logo img:hover {
  opacity: 0.8;
}
.logo img:active {
  opacity: 0.3;
}
.main-menu {
  float: left;
  width: 845px;
  margin: 0;
  margin-top: 55px;
  padding: 0;
  padding-left: 138px; 
  list-style: none;
  font-size: 0;
}
.main-menu-item {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: top;
  font-size: 16px;
}
.main-menu-item a {
  display: block;
  padding: 20px 24px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 1.875;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.main-menu a:active:not(.active) {
  color: #000;
  opacity: 0.3;
}
.main-menu-item a:hover:not(.active) {
  color: #fb565a;
}
.main-menu-item .active {
  position: relative;
}
.main-menu-item .active::after {
  content: "";
  position: absolute;
  height: 2px;
  right: 24px;
  left: 24px;
  bottom: 5px;

  background-color: #fb565a;
}
.user-block {
  position: relative;
  float: right;
  width: 115px;
  margin: 0;
  margin-top: 53px;
  padding: 0;
  padding-left: 20px;
}
.user-block a {
  display: block;
  padding-right: 0; 
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 23px;
  color: #000;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
}
.user-block a:hover {
  color: #fb565a;
}
.user-block a:active {
  opacity: 0.3;
}
.user-block::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  bottom: 23px;
  background: transparent url("../img/sprite/sprite.png") no-repeat 50% -125px;
  opacity: 0.3;
}
.catalog-title {
  margin: 0;
  padding-top: 67px;
  padding-bottom: 104px;
  text-align: center;
}
.slider {
  position: relative;
  margin-bottom: 80px;
  background-color: #eee;
}
.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 18px;
  margin-left: -100px;
  text-align: center;
  z-index: 1;
}
.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}
.slider-controls label {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  border-radius: 50%;
  vertical-align: top;
  background-color: #fff;
  cursor: pointer;
  box-sizing: content-box;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  width: 18px;
  height: 18px;	
 
  border-radius: 50%;
  box-shadow:
   
   inset 0 0 0 5px #fff,
   inset 0 0 0 7px #c1c1c1;
   
}
.slides {
  position: relative;
  min-height: 420px;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #eee;
}
.slide-title {
  display: block;
  width: 600px;
  margin: 0;
  margin-top: 15px;
}
.slide p {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 37px;
  width: 412px;
}
.slide-expensive p {
  padding-right: 48px;
}
.slide-night p {
  padding-right: 66px;
}
.slide .btn {
  padding: 16px 52px;
}
.slide-expensive {
  display: block;
  padding-left: 20px;
  padding-top: 55px;
  padding-bottom: 80px;
  background-image: url("../img/content/slide1.png");
  background-repeat: no-repeat;
  background-position: 450px 10px;
}
.slide-math {
  display: none;
  padding-left: 20px;
  padding-top: 55px;
  padding-bottom: 80px;
  background-image: url("../img/content/slide2.png");
  background-repeat: no-repeat;
  background-position: 496px 0; 
}
.slide-night {
  display: none;
  padding-left: 20px;
  padding-top: 55px;
  padding-bottom: 80px;
  background-image: url("../img/content/slide3.png");
  background-repeat: no-repeat;
  background-position: 443px 11px;
}

#btn-1:checked ~ .slides .slide-expensive {
  display: block;
}
#btn-2:checked ~ .slides .slide-math {
  display: block;
}
#btn-3:checked ~ .slides .slide-night {
  display: block;
}
.advantages {
  padding: 0;
  padding-bottom: 80px;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
  border-bottom: 2px solid #eee;
}
.advantage {
  position: relative;
  padding-top: 147px;
  float: left;
  width: 300px;
  height: 348px;
  margin-right: 100px;
}
.advantage-web::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 146px;
  background: #fb565a url("../img/content/illustration-1.jpg") no-repeat 50% 50%;
}
.advantage-apps::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 146px;
  background: #00ca74 url("../img/content/illustration-2.jpg") no-repeat 50% 50%;
}
.advantage-presentation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 146px;
  background: #efc849 url("../img/content/illustration-3.jpg") no-repeat 50% 50%;
}
.advantage:last-child {
  margin-right: 0;
}
.advantage-title {
  margin: 0;
  margin-top: 25px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}
.advantage p {
  margin-bottom: 32px;
  width: 250px;
}
.advantage-apps .btn {
  background-color: #00ca74;
}
.advantage-apps .btn:hover {
  background-color: #00bc6c;
}
.advantage-apps .btn:active {
  background-color: #00aa62;
}
.advantage-presentation .btn {
  background-color: #efc84a;
}
.advantage-presentation .btn:hover {
  background-color: #eab534;
}
.advantage-presentation .btn:active {
  background-color: #e5a722;
}
.promo-text {
  float: left;
  width: 660px;
  margin-right: 0;
  padding-top: 34px;
}
.promo-text-title {
  margin: 0;
  margin-bottom: 34px; 
  font-size: 45px;
  line-height: 1;
  font-weight: 500;
  color: #000;
}
.promo-text p {
  margin-bottom: 38px;
}
.promo-text-title-second {
  margin-bottom: 23px;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 700;
}
.features {
  padding: 0;
  margin: 0;
  list-style: none;
}
.features li {
  position: relative;
  margin-bottom: 25px;
  padding-left: 36px;
  font-size: 16px;
  line-height: 1.5;
  color: #283136;
}
.features li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 12px;
  border-bottom: 2px solid red;
}
.promo-block-main {
  position: relative;
  float: right;
  padding-top: 208px; 
  width: 360px;
}
.promo-block-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 208px;
  background: url("../img/content/nerds-illustration.jpg") no-repeat 50% 50%;
}
.title-percents {
  margin-top: 36px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
}
.percents {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  font-size: 0;
}
.percents-item {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin-bottom: 0;
  margin-right: 23px;
  width: 100px;
  font-size: 16px;
}
.percents-item:last-child {
  margin-right: 0;
}
.number {
  display: block;
  color: #000;
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
}
.number sup {
  font-size: 26px;
  font-weight: 500;
}
.number-item {
  display: block;
  padding-top: 37px;
  font-size: 16px;
  line-height: 1.125;
}
.promo {
  margin-bottom: 45px;
}
.logos {
  padding-top: 47px;
  padding-bottom: 43px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}
.company-logo {
  display: inline-block;
  margin-right: 100px;
  vertical-align: middle;
  opacity: 0.2;
}
.company-logo:first-child {
  margin-left: 30px;
}
.company-logo:last-child {
  margin-right: 0;
}
.company-logo:hover {
  opacity: 1;
}
.company-logo:active {
  opacity: 0.1;
}
.choice-form {
  float: left;
  width: 260px;
  margin-top: 60px;
  margin-right: 100px;
}
.range-filter-title {
  margin: 0;
}
.range-filter {
  padding: 47px 0 20px;
  width: 260px;
  margin-bottom: 30px; 
}
.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px; 
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #eee;
  box-sizing: content-box;
}
.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}
.range-controls .bar {
  margin-left: 8%;
  width: 50%;
  height: 2px;
  background-color: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%; 
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  box-sizing: content-box;
}
.range-controls .toggle-min {
  left: 20px;
}
.range-controls .toggle-max {
  left: 145px;
}
.price-controls {
  font-size: 0;
}
.price-controls label {
  display: inline-block;
  font-size: 16px;
  color: #283136;
  text-transform: uppercase;
}
.max-price {
  text-align: right;
}
.price-controls input {
  margin-left: 12px;
  margin-right: 30px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  width: 50px; 
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  background-color: #eee;
  box-sizing: content-box;
}
.price-controls input[name="max-price"] {
  margin-right: 0;
}
.grid,
.hangs {
  margin: 0;
  margin-bottom: 25px; 
  padding: 0;
  border: none;
}
.grid legend {
  padding: 4px 0 7px;
}
.hangs legend {
  padding: 10px 0 7px;
}
.grid label,
.hangs label {
  position: relative;
  display: inline-block;
  padding: 10px 36px 10px;
  font-size: 16px;
  line-height: 1.25;
  color: #283136;
}
.grid input,
.hangs input {
  display: none;
  padding: 10px 0;
  width: 36px;
}
.grid label:before {
  position: absolute;
  content: "";
  left: 2px;
  top: 8px;
  width: 17px;
  height: 17px;
  border: 3px solid #000;
  border-radius: 50px;
  background-color: #fff;
  opacity: 0.4;
  box-sizing: content-box; 
}
.grid input:checked + label:before {
  left: 5px;
  top: 11px;
  width: 7px;
  height: 7px;
  border: 5px solid #fff;
  border-radius: 50px; 
  background-color: #4d4d4d;
  box-shadow: 0 0 0 3px #4d4d4d;
  opacity: 0.4;
  box-sizing: content-box;
}
.grid input:hover ~ label {
  color: #000;
  cursor: pointer;
}
.grid input:hover + label:before {
    opacity: 1;
    cursor: pointer;
}
.grid input:active ~ label {
  color: #000;
  cursor: pointer;
}
.grid input:active + label:before {
    opacity: 1;
    cursor: pointer;
}
.grid input:disabled + label,
.hangs input:disabled + label {
	opacity: 0.3;
	cursor: not-allowed;
}
.grid input:disabled + label::before,
.hangs input:disabled + label::before {
	opacity: 0.1;
	cursor: not-allowed;
}
.hangs input:checked + label:before {
  position: absolute;
  content: "";
  top: 1px;
  left: 0;
  width: 30px;
  height: 30px;
  border: none;
  background: #fff url("../img/sprite/sprite.png")no-repeat 0 100%;
}
.hangs label:before {
  position: absolute;
  content: "";
  left: 2px;
  top: 8px;
  width: 18px;
  height: 18px;
  border: 2px solid #4d4d4d;
  border-radius: 5px;
  background-color: #fff; 
  opacity: 0.4;
  box-sizing: content-box;
}
.hangs input:hover + label {
	color: #000;
	cursor: pointer;
}
.hangs input:hover + label::before {
	opacity: 1;
	cursor: pointer;
}
.hangs input:active + label {
	color: #000;
	cursor: pointer;
}
.hangs input:active + label::before {
	opacity: 1;
	cursor: pointer;
}
input.show {
  font-family: inherit;	
  margin-top: 14px;
  padding: 16px 87px; 
  border: none;
}
.gallery {
  float: right;
  width: 760px;
  margin-top: 57px;
}
.sorter {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}
.sorter .title-third-tipe {
  padding-top: 15px;
}
.sorter-list {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 372px;
  font-size: 0;
}
.sorter-item {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.sorter-item button {
  display: block;
  margin:0;
  padding: 8px 12px 12px 12px;
  background: none;
  border: none;
  font-size: 14px;
  line-height: 1.28;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  opacity: 0.3;
}
.sorter-item .little-nav {
  padding-right: 0;
  padding-left: 20px;
  font-size: 10px;
}
.sorter-item button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.sorter-item button:active {
  opacity: 1;
}
.sorter-item .active {
  opacity: 1;
}
.gallery-item {
  position: relative;
  float: left;
  padding-top: 40px;
  width: 360px;
  height: 615px;
  margin-right: 40px;
  margin-left: 0;
  margin-bottom: 39px;
}
.gallery-item:nth-child(2n) {
	margin-right: 0;
}
.gallery-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 40px;
  background: #e9e9e9 url("../img/icons/browser.png") no-repeat 50% 50%;
  opacity: 0.12;
}
.gallery-item:hover::before {
  opacity: 1;
}
.description {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 60px;
  padding-bottom: 43px;
  width: 360px;
  text-align: center;
  background-color: #eee;
}
.item-title {
	color: #000;
	text-decoration: none;
}
.description-title {
  margin: 0;
}
.description p {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.125;
  color: #666;
}
.description .btn {
  padding: 16px 60px;
}
.description .btn:active {
  color: #fff;
}
.gallery-item:hover .description {
  display: block;
}
.paginator {
  padding: 0;
  margin: 0;
  margin-top: 22px;
  list-style: none;
}
.paginator-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.paginator-item a {
  display: block;
  padding: 16px;
  width: 50px;
  height: 50px;
  font-size: 16px;
  line-height: 1.125;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  background-color: #eee;
  text-align: center;
  vertical-align: middle;
}
.paginator-item a:hover:not(.active) {
  background-color: #dfdfdf;
}
.paginator-item a:active:not(.active) {
  color: rgba(0,0,0,0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}
.paginator-item .active {
  background-color: #fff;
  border: 3px solid #dbdbdb;
}
.paginator-item .btn {
  padding: 16px 77px;
  width: 260px;
}
.show {
  display: inline-block;
  padding: 16px 44px;
  border-radius: 3px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.125;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #eee;
  color: #000;
}
.show:hover {
  background-color: #dfdfdf; 
}
.show:active {
  color: rgba(0,0,0,0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}
.main {
  margin-bottom: 62px;
}
.main-footer {
  margin-top: 82px;
  background-color: #fff;
}
.catalog-main-footer {
  margin-top: 60px;
}
img {
  max-width: 100%;
  height: auto;
}
.map {
  position: relative;
  min-height: 415px;
  background-color: #e9e5dc;
  overflow: hidden;
}
.map .wrap {
  min-height: 415px;
}
.map img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: none;
}
.mail-us {
  position: absolute;
  bottom: 54px;
  left: 20px;
  padding: 47px 50px;
  width: 320px;
  background-color: #fff;
}
.mail-us-title {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 1.66;
  font-weight: bold;
  text-transform: uppercase;
}
.mail-us address {
  font-size: 16px;
  line-height: 1.125;
  color: #666;
  font-style: normal;
}
.mail-us p {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 16px;
  line-height: 1.125;
  color: #666;
}
.footer-bottom {
  margin-top: 70px;
}
.social-footer {
  float: left;
  width: 300px;
  margin-right: 100px;
  font-size: 0;
}
.social-btn {
  position: relative;
  display: inline-block;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  margin-right: 12px;
  vertical-align: top;
  font-size: 0;
  background-color: #e1e1e1;
}
.vk::before {
  position: absolute;
  content: "";
  top: 29px;
  left: 26px;
  width: 26px;
  height: 17px;
  background: transparent url("../img/sprite/sprite.png")no-repeat 50% 65%;
}
.fb::before {
  position: absolute;
  content: "";
  top: 25px;
  left: 27px;
  width: 25px;
  height: 25px;
  background: transparent url("../img/sprite/sprite.png")no-repeat 50% -200px;
}
.inst::before {
  position: absolute;
  content: "";
  top: 27px;
  left: 29px;
  width: 22px;
  height: 22px;
  background: transparent url("../img/sprite/sprite.png")no-repeat 50% -175px;
}
.social-btn:hover {
  background-color: #e74246;
}
.social-btn:active {
  background-color: #d7373b;
}
.vk:active::before,
.fb:active::before,
.inst:active::before {
  opacity: 0.3;
}
.friendship {
  float: left;
  width: 760px;
}
.friendship b {
  display: block;
  margin-top: 6px;
  font-size: 36px;
  line-height: 1;
  color: #000;
  font-weight: 700;
}
.friendship p {
  margin-top: 10px;
  padding: 0;
  font-size: 16px;
  line-height: 1.37;
  color: #444;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.modal-content {
  display: none;
  position: absolute;
  top: 120px;
  left: 50%;
  margin-left: -480px;
  width: 960px;
  padding: 67px 100px 84px 100px;
  color: #000;
  background-color: #fff;
  box-shadow: 0 30px 50px rgba(0,0,0,0.7);
  z-index: 1; 
}
.modal-content-show {
  display: block;
}
 .modal-content-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 25px;
  height: 25px;
  font-size: 0;
  background-color: #fff;
  border: 0; 
  cursor: pointer;
}
.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -4px;
  width: 26px;
  height: 5px;
  background-color: #fb565a;
  border-radius: 1px;
  opacity: 0.3; 
}
.modal-content-close::before {
  transform: rotate(45deg);
}
.modal-content-close::after {
  transform: rotate(-45deg);
}
.modal-content-close:hover::before,
.modal-content-close:hover::after {
  background-color: #fb565a;
  opacity: 1;
}
.modal-content-close:active::before,
.modal-content-close:active::after {
  opacity: 0.1;
}
.write {
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}
.write-us-title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 45px;
  line-height: 1;
  font-weight: 700;
  color: #000;
}
.write input {
  margin-right: 40px;
  width: 360px;
  margin: 0;
  margin-bottom: 33px;
  padding: 14px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  vertical-align: top;
  outline: none;
}
.write input:hover {
  border-color: #b4b9bb;
}
.write input:focus {
  border-color: #000;
  color: #444;
}
.write input:invalid {
  border-color: #e74246;
  color: #e74246;
}
.write label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.125;
  font-weight: 700;
}
.write textarea {
  width: 100%;
  padding: 12px 14px;
  min-height: 117px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  resize: none;
  outline: none;
}
.write textarea:hover {
  border-color: #b4b9bb;
}
.write textarea:focus {
  border-color: #000;
  color: #444;
}
.write .btn {
  border: none;
  padding: 16px;
  margin-top: 40px;
  margin-bottom: 0;
  width: 260px;
}

